.graficoLineal {
    background-color: white;
    width: 27%;
    height: 100%;
    margin-top: 40px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 1rem;
    align-items:initial;
    /* position: bottom; */
}
