.graficoLineal {
    background-color: white;
    width: 27%;
    margin-top: 40px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 1rem;
    align-items:initial;
     /* color: #1B1B1B #D9D8D8*/
    /* position: bottom; */
}

.graficoLineal h1{
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
}