.PaginadoDiv {
  /* background-color: red; */
  height: 4rem;
  margin: auto;
  display: flex;
  margin-bottom: 1rem;
}

#contenedorBotones {
  /* background-color: blue; */
  width: 25%;
  display: flex;
  margin: auto;
  vertical-align: middle;
  justify-content: center;
  height: 100%;
  /* background-color: black; */
}


.final {
  border-radius: 0 40px 40px 0;
  border: none;
  width: 25%;
  vertical-align: middle;
  height: 100%;
  height: 1.5rem;
  cursor: pointer;
  font-size: 1.3rem;
  color: black;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  /* box-shadow: inset 0px 0px 0px rgb(0 0 0 / 10%), -3px 3px 5px rgb(0 0 0 / 50%); */
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  padding: 15px;
}

.botones {
  height: 1.5rem;
  background-color: rgba(10, 10, 10, 0);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.3rem;
  margin: 5px;
  /* margin: auto; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  /* box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%); */
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  padding: 15px;
}

.botones:hover,
.principio:hover,
.final:hover {
  color: #fff;
  background-color: black;
}

.paginaActual {
  height: 1.5rem;
  background-color: rgba(10, 10, 10, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.3rem;
  margin: 5px;
  /* margin: auto; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  /* box-shadow: inset 0 5px 10px rgb(0 0 0 / 10%), 0 2px 5px rgb(0 0 0 / 50%); */
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: black;
}
