#contenedorResumen{
    /* background-color: blue; */
    height: 100%;
    width: 90%;
    text-align: center;
    margin: auto;
    display: flex;
    vertical-align: middle;
    flex-direction: column;
}

.item{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 15rem 1fr 6rem;
    grid-template-rows: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* justify-items: start; */
}

h1{
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

span{
    font-size: 14px;
    font-weight: 600;
    margin: 3px 20px 5px 0px;
    text-align: left;
}